body{
    text-align: center;
}
h1{
    background-color:rgb(224, 27, 142);
    color:black;
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 30%;
    padding: 10px;
}
h3{
    color: blue;
    background-color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
p{
    background-color:white;
    color:green;
}

.flowers{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.flowers p{
    width: 200px;
    margin-left: 5px;
    padding: 20px;
    background: linear-gradient(rgb(79, 79, 207), rgb(228, 22, 135), white);
}
.flowers img{
    width: 150px;
    height: 150px;
    padding-bottom: 20px;
    margin: auto;
    animation:RR 4s ease-in-out infinite;
}
@keyframes RR{
    from{
        transform: scale(.4);
    }

    @media (max-width:765px) {
    body{
        display: flex;
    }
}

    to{
        transform: scale(1)
    }

}
